{{#*inline "modal_id"}}AL22{{/inline}}
{{#*inline "modal_image"}}/static/images/AL22.png{{/inline}}
{{#*inline "company_name"}}Twilio{{/inline}}
{{#*inline "project_name"}}AL22 Containerization{{/inline}}
{{#*inline "modal_content"}}
              <p class="modal-text">
                With part of Amazon Linux 1{{{ ssd }}}'{{{ ssde }}}s deprecation, Twilio is making a company{{{ ssd }}}-{{{ ssde }}}wide push to containerize all of its services in preparation for the eventual migration to Amazon Linux 22.
                I was tasked with containerizing {{{ ssd }}}4{{{ ssde }}} of the billing engineering team{{{ ssd }}}'{{{ ssde }}}s core internal services written in Scala.
                Throughout the process of containerizing each service, I also developed Buildkite pipelines to automate the building and testing of each service as part of the company{{{ ssd }}}'{{{ ssde }}}s move away from their Jenkins CI systems. 
              </p>
              <p class="modal-text">
                This project taught me a lot about the Docker ecosystem, working in large codebases in languages I am unfamiliar with {{{ ssd }}}({{{ ssde }}}Scala{{{ ssd }}}){{{ ssde }}}, and popular technologies like Apache Spark and Kafka.
                I came away with an strong understanding of proper Dockerfile development techniques and a basic understanding of writing Scala code. 
                It was a great exercise in picking up new technologies quickly. 
              </p>
{{/inline}}
{{> image-modal-base }}