    <div class="modal fade" id="AL22" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 960px; margin: auto;">
        <div class="modal-content" style="position: absolute; inset: 40px 0px 0px; border: 0px; background: rgb(255, 255, 255); overflow: auto; border-radius: 0px; outline: none; padding: 0px; z-index: 900;">
          <div class="project-modal-body">
            <div class="modal-top">
              <button type="button" class="close mt-1 mr-2" data-dismiss="modal" aria-label="Close" style="float: right; z-index: 999;">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="modal-image">
                <img class="card-image-img" src="/static/images/AL22.png">
              </div>
            </div>
            <div class="modal-bottom">
              <div style="line-height: 1;">
                <p class="project-company mb-0">Twilio</p>
                <p class="project-title">AL22 Containerization</p>
              </div>
              <p class="modal-text">
                With part of Amazon Linux 1{{{ ssd }}}'{{{ ssde }}}s deprecation, Twilio is making a company{{{ ssd }}}-{{{ ssde }}}wide push to containerize all of its services in preparation for the eventual migration to Amazon Linux 22.
                I was tasked with containerizing {{{ ssd }}}4{{{ ssde }}} of the billing engineering team{{{ ssd }}}'{{{ ssde }}}s core internal services written in Scala.
                Throughout the process of containerizing each service, I also developed Buildkite pipelines to automate the building and testing of each service as part of the company{{{ ssd }}}'{{{ ssde }}} move away from their Jenkins CI systems. 
              </p>
              <p class="modal-text">
                This project taught me a lot about the Docker ecosystem, working in large codebases in languages I am unfamiliar with {{{ ssd }}}({{{ ssde }}}Scala{{{ ssd }}}){{{ ssde }}}, and popular technologies like Apache Spark and Kafka.
                I came away with an strong understanding of proper Dockerfile development techniques and a basic understanding of writing Scala code. 
                It was a great exercise in picking up new technologies quickly. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>