{{#*inline "content"}}
    <br><br><br>
    <div class="d-flex align-items-center" style="height: 80vh; min-height: 600px; width: 100%; margin: auto;">
      <div class="container">
        <h2 class="introduction">Hey, I{{{ ssd }}}'{{{ ssde }}}m Neil {{{ ssd }}}-{{{ ssde }}} A Software Engineer<br>from San Francisco.</h2>
        <p class="introduction-content mt-3">
          I{{{ ssd }}}'{{{ ssde }}}m a computer science student at the University of Illinois at Urbana{{{ ssd }}}-{{{ ssde }}}Champaign {{{ ssd }}}({{{ ssde }}}UIUC{{{ ssd }}}){{{ ssde }}}.
          I{{{ ssd }}}'{{{ ssde }}}ve taught a class about the Rust programming language, worked on countless Scala{{{ ssd }}}/{{{ ssde }}}Java{{{ ssd }}}/{{{ ssde }}}Rust HTTP{{{ ssd }}}/{{{ ssde }}}REST applications, developed low{{{ ssd }}}-{{{ ssde }}}level networking projects in C and C{{{ ssd }}}++{{{ ssde }}}, and have lots of experience working with large unfamiliar codebases while learning programming languages and technologies on the fly.
          You can view my resume, LinkedIn, and GitHub above and learn more about some of my work below.
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-start mb-3">
      <div class="container">
        <h2 class="introduction">Featured Work.</h2>
        <div class="row my-2">
          {{#each experiences}}
          <div class="col-lg-6 col-sm-12 my-3">
            <div class="project-card" id="project-0" data-toggle="modal" data-target="#{{ this.modal_id }}">
              <div class="image-overlay">
                <div class="image-overlay-text">
                  <p class="project-company mb-0">{{ this.company }}</p>
                  <p class="project-title">{{ this.project }}</p>
                </div>
              </div>
              <div class="card-image" style="overflow: hidden; max-height: 85%;">
                <img class="card-image-img" src="{{ this.image }}">
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    
{{> al22_modal ssd=ssd ssde=ssde }}
{{> burd_modal ssd=ssd ssde=ssde }}
{{> luis_modal ssd=ssd ssde=ssde }}
{{> cf_ea_modal ssd=ssd ssde=ssde }}
{{> cs128h_modal ssd=ssd ssde=ssde }}
{{> twilio_modal ssd=ssd ssde=ssde }}
{{> kqueue_modal ssd=ssd ssde=ssde }}
{{/inline}}
{{> base }}
